<!-- {% extends "layouts/base.html" %}

{% block title %} My Bookings {% endblock %}

{% block content %}

<style>
    .table{
        width: 80%;
    }
</style>

<h2>Your Bookings</h2>

<table class="table">
    <tr>
        <th>Pick-Up</th>
        <th>Destination</th>
        <th>Seats</th>
        <th>Date</th>
        <th>Time</th>
        <th>Amount</th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.Pick_Up }}</td>
        <td>{{ booking.Destination }}</td>
        <td>{{ booking.Seats }}</td>
        <td>{{ booking.Date }}</td>
        <td></td>
        <td>{{ booking.Amount }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %} -->
